h4 JS
#js
h4 字体图标
div
  span.iconfont.icon-all.fs-xl
  span.iconfont.icon-bussiness-man.fs-xl
  span.iconfont.icon-code.fs-xl
h4 图片
img(src=require('@/assets/images/400x200.png'), alt='图片')
.bg-img 背景图片
h4 视频
video(controls, width='400')
  source(src=require('@/assets/videos/flower.webm'), type='video/webm')
  source(src=require('@/assets/videos/flower.mp4'), type='video/mp4')
  p 对不起，您的浏览器不支持显示视频。
