extends ../../components/layout/layout.pug
include ../../components/header/header.pug

block title
  title 首页

block append body
block content
  //- 头部
  +header('首页')

  //- 导航
  include ../../components/nav/nav.pug

  //- 示例代码
  include ../../components/example/example.pug

